.navbar {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(6, 24, 9);
    margin: 0;
    width: 100%;
    padding: 0.6rem;
  }

  .navbar-item {
    flex-basis: 20%;
    list-style-type: none;
    text-align: center;
    color: var(--offWhite);
  }

  .navbar-link {
    text-decoration: none;
    font:bold;
    font-family: "Quicksand", sans-serif;
    letter-spacing: 1px;
    color: white;
  }

  .navbar-logout {
    margin-left: auto;
  }

  .navbar-link:hover {
    color: var(--primary);
  }

  .navbar-a{
    color:azure;
    font-family: 'sans-serif;
  }